name: Build Flet iOS App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install --upgrade flet-cli

      - name: Install Flet CLI
        run: pip install flet-cli

      - name: Build iOS app
        run: flet build ipa --build-number 1

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: app-ios
          path: build/ios/ipa/*.ipa